[submodule "instrosetta-proto"]
	path = instrosetta-proto
	url = https://github.com/jmosbacher/instrosetta-proto.git
[submodule "instrosetta-python"]
	path = instrosetta-python
	url = https://github.com/jmosbacher/instrosetta-python.git
[submodule "instrosetta-csharp"]
	path = instrosetta-csharp
	url = https://github.com/jmosbacher/instrosetta-csharp.git
[submodule "instrosetta-servers"]
	path = instrosetta-servers
	url = https://github.com/jmosbacher/instrosetta-servers.git
